<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingredients - The Marence Bistro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!---- Navigation Menu ----->
<nav class="navbar navbar-expand-md navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='logo.png') }}" style="width:450px;height:113px;"></a>
    <button class="navbar-toggler" type="button" data-toggler="collapse" data-target=
"navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <a class="nav-link" href="/">Index</a> 
    </li>  
    <li class="nav-item">
    <a class="nav-link active" href="/ingredients">Ingredients</a> 
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/menuItems">Menu Items</a> 
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/cuisines">Cuisines</a> 
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/restaurantSchedule">Restaurant Schedule</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/chefs">Chefs</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/chefSchedule">Chef Schedule</a>
    </li>
    </ul>
  </div>
    
    </div>

</nav>


<!---- Table Placeholder ----->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h4 class="display-5">The Marence Bistro</h4>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">Ingredients Stock</p>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Ingredient ID</th>
              <th scope="col">Ingredient Name</th>
              <th scope="col">Vegan</th>
              <th scope="col">Inventory</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
            <tbody>
                <!---- Jinja html templating for Flask Python framework ----->
                {% for r in rows %}
                <tr>
                    <td> {{ r.0 }} </td>
                    <td> {{ r[1] }} </td>
                    <td> {{ r[2] }} </td>
                    <td> {{ r[3] }} </td>
                    <td>
                    <button type="button" class="btn btn-success" title = "Update"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger" title = "Delete"  onClick="window.location='/ingredients?type=delete&id="{{ r.0 }}"'"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button type="button" id="ingredients_button" class="btn btn-primary btn-lg" align = "center" onClick="showInputForm()">Add Ingredient</button>
                </div>
            </div>

            <!---- New Ingredient Input Form Placeholder  ----->
            <div id="ingredients_form" style="display:none">
                <form id="addingingredient" action="/ingredients?type=insert" method="post">
                    <fieldset>
                        <legend>Add a new Ingredient below:</legend>
                        <p><strong>Instructions:</strong> Please input the name, # of reps, weight, date, and units for the exercises you'd like to track!</p>
                        <label>
                            Ingredient Name: <input type="text" name="ingredientName" required="1">
                        </label>
                        <label>
                            Vegan? (Type 1 for 'Yes', 0 for 'No') <input type="number" name="isVegan" required="1">
                        </label>
                        <label>
                            Inventory: <input type="number" name="inventory" required="1">
                        </label>
                        <br>
                        <br>
                        <input type="submit" value="Submit">
                    </fieldset>
                </form>
            </div>
        </div>

<!---- Old Table and DB Query Definition Placeholder  ----->
<!--        <div class="container-fluid padding">-->
<!--            <ul>-->
<!--                <li><p align = "left">Database:</h6></p>-->
<!--                    <ul>-->
<!--                        <li><p align = "left">Add: Adds new record of a new ingredient to Ingredients table.</p></li>-->
<!--                        <li><p align = "left">Delete:  Deletes an existing record of an ingredient in Ingredients table.</p></li>-->
<!--                        <li><p align = "left">Update:  Updates an existing record of an ingredient in Ingredients table.</p></li>-->
<!--                    </ul>-->
<!--                <li><p align = "left">Cascade Effects:</p></li>-->
<!--                    <ul>-->
<!--                        <li><p align = "left">On Add: N/A </p></li>-->
<!--                        <li><p align = "left">On Delete: Removal of all related menuItems and menuItemsIngredients records. </p></li>-->
<!--                        <li><p align = "left">On Update:  Cascades updates to the menuItemIngredients table. </p></li>-->
<!--                    </ul>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>



<!---- Contact Footer ----->
<footer>
    
<div class="container-fluid padding">
    
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr class="light">
        <h5>Contact Us</h5>
        <hr class="light">
        <p>Phone: (555) 555-5555</p>
        <p>Email: email@oregonstate.edu</p>
        <p>Oregon State University</p>
        <p>Corvallis, Oregon</p>
    </div>
    <div class="col-md-4"></div>
</div>       
</footer>

<!---- Modal (Not Currently in Use) ---->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <form action="/add_new_ingredient" method="POST">
               <div class="form-group">
                  <label>Ingredient Name:</label>
                  <input type="text" class="form-control" name="ingredientName" required="1">
               </div>
                <div class="form-group">
                  <label>Vegan?</label>
                    <div>
                        <input type="checkbox" name="isVegan">
                    </div>
               </div>
                <div class="form-group">
                  <label>Inventory</label>
                  <input type="inventory" class="form-control" name="number" required="1">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit" value="Submit">Insert Data</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<!---- Javascript Sources ---->
<script src="ingredients.js"></script>
<script>
    function showInputForm() {
          var x = document.getElementById("ingredients_button");
          if (x.style.display === "none") {
                x.style.display = "block";
          } else {
                x.style.display = "none";
          }

          var x = document.getElementById("ingredients_form");
          if (x.style.display === "none") {
                x.style.display = "block";
          } else {
                x.style.display = "none";
          }
    }
</script>

</body>
</html>
